.myApp{
    max-width: 500px;
    margin: 25px auto ;
    padding: 20px;
    border: 2px solid grey ;
    border-radius: 10px;

}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    font-size:15px ;
    font-weight: 100;
    line-height: 28px;
}
li{
    list-style: none;
    display: block;
    line-height: 19,2px;
    margin: 0;
    padding: 0;
}
ul{
    margin: 0;
    padding: 0;
}